{% extends 'app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">

                <form class="form" method="POST" action="" id="reboot">
                    <div class="form-group">
                    <label for="room">Select Room</label>
                    <select id="room" name="room" class="form-control">
                    </select>
                    </div>
                    <button type="submit" class="btn btn-primary mb-1" id="reboot_room">Reboot</button>
                    <button type="submit" class="btn btn-primary mb-1" id="ping">Ping</button>
                </form>
        </div>
                
    </div>

    <div class="row">
        <div class="col-md-6">
        <h4>Device Status: <?php echo $deviceStatus ?></h4>
        </div>
    </div>


{% endblock %}


{% block script %} 
<script type="text/javascript">


$(document).ready(function(){

    var url = "{{ base_url() }}/../storage/ip/suites/suites.json";
    var data = 'test';
    var rooms = [];
    $.ajax({
        dataType: "json",
        url: url,
        data: data,
        success: function (result) {
            rooms = result;
            //console.log(result);
             $('#room').select2({
                 data: rooms
             });

        }
        });


$(document).on('click', '#reboot_room', function (e){
    e.preventDefault();
    var room =  $('#room').val();
    console.log(room);
    ping().then(function (result){
        console.log('Ping completed');
        if(result){
            console.log(result);
        }
    });
    
    
});


$(document).on('click', '#ping', function (e){
    e.preventDefault();
    var room =  $('#room').val();
    //console.log(room);
    ping(room);
    
});

function rebootRoom(ip){
    return new Promise(function(result, reject,){
        $.ajax({
        dataType: "json",
        url: '{{ path_for("reboot.suites.ap") }}',
        method: "POST",
        data: {
            'ip' : ip
        },
        success: function (result) {
            console.log(result);
        }
        });
    });
}

function ping(ip){
    return new Promise(function(resolve, reject){
        var pingStatus = false; 
        $.ajax({
        dataType: "json",
        url: '{{ path_for("ping.suites.ap") }}',
        method: "POST",
        data: {
            'ip' : ip
        },
        success: function (result) {
            console.log(result);
            resolve(result);
        },
        err: function(err){
            reject(err)
        } 
        });
    })
        
        console.log(pingStatus);
        return pingStatus;
}



function functABC(ip) {
   // ip
  return new Promise(function(resolve, reject) {
    $.ajax({
      url: '{{ path_for("ping.suites.ap") }}',
      data: {
            'ip' : ip
        },
        method: "POST",
      success: function(data) {
        resolve(data) // Resolve promise and go to then()
      },
      error: function(err) {
        reject(err) // Reject the promise and go to catch()
      }
    })
  })
}



})

</script>

{% endblock %}
